
*.cache
tests/bin/Release/tests.dll
tests/bin/Release/tests.pdb
tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
tests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
tests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
tests/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
tests/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
tests/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
tests/obj/Release/tests.csproj.FileListAbsolute.txt
word2pdf.v12.suo
tests/obj/Release/tests.pdb
tests/obj/Release/tests.dll
word2pdf/bin/Debug/word2pdf.exe
word2pdf/bin/Debug/word2pdf.exe.config
word2pdf/bin/Debug/word2pdf.pdb
word2pdf/bin/Debug/word2pdf.vshost.exe
word2pdf/bin/Debug/word2pdf.vshost.exe.manifest
word2pdf/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
word2pdf/obj/Debug/word2pdf.csproj.FileListAbsolute.txt
word2pdf/obj/Debug/word2pdf.exe
word2pdf/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
word2pdf/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
word2pdf/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
word2pdf/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
word2pdf/bin/Debug/word2pdf.vshost.exe.config
word2pdf/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
word2pdf/obj/Release/word2pdf.csproj.FileListAbsolute.txt
word2pdf/obj/Release/word2pdf.exe
word2pdf/obj/Release/word2pdf.pdb
*.user
